main {
  text-align: center
}
body {
  background-color: seashell;
}
.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 700px;
  margin: auto;
  background-color: #fff7fb;
  border: 2px solid black;
    }
#textArea {
  width: 350px
}